[core]
	excludesfile = ~/.gitignore
	autocrlf = true
[user]
	email = vitalii.plagov@gmail.com
	name = Vitalii Plagov
[alias]
    ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short --graph
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    le = log --oneline --decorate
    st = status
    ch = checkout
    d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
