#Intellij IDEA files
.idea/
*.iml
out/
classes/

# build tools files
.gradle/
.mvn/
mvnw
mvnw.cmd
build/
.project/
.settings/
bin/
.project
tmp/
libs/

# java compiled files
target/
.classpath
*.class

# visual studio code
.vscode/
